* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    background-color: #333333;
}

header {
    margin-bottom: 20px;
}

main, .menu-bar, .buttons {
    display: flex;
}

section, div {
    padding: 10px 10px;
    width: 100%;
}

a {
    color: #5FCF80;
}

li {
    padding: 5px 10px;
}

input[type='text'] {
    width: 60%;
    border: 1px #444 solid;
    border-radius: 4px;
    padding: 5px;
}

button {
    background-color: #5FCF80;
    color: white;
    margin-top: 2%;
    width: 60%;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover{
    background-color: #5DA9DD;
}

#account {
    margin-right: 1%;
    padding-right: 10%;
    border: 1px solid #333333;
    color: #333333;
    background-color: white;
    border-radius: 10px;
}

#right-sidebar{
    border: 1px solid #333333;
    color: #333333;
    background-color: white;
    border-radius: 10px;
}

#strategies {
    display: flex;
    flex-direction: column;
}

.menu{
    height: 100%;
}

.menu-link{
    text-decoration: none;
    padding: 20px 20px;
    border-radius: 5px;
    height: 100%;
}

.active-link{
    background-color: #5FCF80;
    color: white;
}

.strat-description {
    margin-bottom: 10px;
}

.top-bar {
    display: flex;
    background: linear-gradient(0.25turn, #5FCF80 25%, #fff 50%);
}

.title{
    width: 15%;
    align-self: center;
}

.position, .order, .column-headers, .watch-item {
    display: flex;
    justify-content: space-between;
    border-bottom: #333333 1px solid;
}

.menu-list{
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.column-headers {
    border-bottom: #333333 3px solid;
}

.buttons {
    flex-direction: column;
}

.upload {
    width: 50%;
    min-height: 200px;
    border: dashed white 5px;
    border-radius: 10px;
    margin: 2% auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.watch-item-remove, .order-cancel, .position-cancel {
    cursor: pointer;
}

.status-bar {
    background-color: #5FCF80;
    width: 100%;
}

.status-msg-box {
    width: 100%;
    background-color: #fff;
}

.status-msg {
    text-align: center;
    color: #333;
    font-size: 1.5em;
}

.red-text {
    color: red;
}