* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    background-color: #333333;
}

main, .menu-bar, .buttons {
    display: flex;
}

section, div {
    padding: 10px 10px;
    width: 100%;
}

#left-sidebar{
    border: 1px solid white;
    margin-right: 5%;
}

#account {
    margin-right: 5%;
    padding-right: 10%;
    border: 1px solid white;
}

#right-sidebar{
    border: 1px solid white;
}

#strategies {
    display: flex;
    flex-direction: column;
}

.position, .order, .column-headers {
    display: flex;
    justify-content: space-between;
    border-bottom: white 1px solid;
}

.column-headers {
    border-bottom: white 3px solid;
}

.buttons {
    flex-direction: column;
}

a {
    color: orange;
}

li {
    padding: 5px 10px;
}

button {
    margin-top: 2%;
    width: 60%;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

